pre-commit

black==24.2.0  # code formatter, and style standard for the repo
isort==5.13.2  # Import sorting

# runtime type checking for PyTorch.
jaxtyping  # Static type checking for PyTorch.
"jaxtyping docs: version 2.* series should be used. Later versions -- 3 and 4 -- have some known issues."
typeguard>=2.0.0,<3.0.0  # Runtime type checking for PyTorch.
pytest  # for testing the code using runtime type checking separately from the actual code execution.